.title
{
	color: red;
	font-size: 10px;
	text-align: center;
}

.description
{
	text-align: left;
	color: darkgray;
	font-size: 15px;
	width: 10em;
	padding: 2em;
	border: 1em;
}

.image
{
	width: 100px;
	position: relative;
	left: 20px;
}

.chart
{
	width: 100px;
	height: 100px;
}

.circ1
{
	stroke: green;
	fill: white;
	stroke-width: 5;
}